<tr>
    <td width="35%" data-item-code={{item.item_code}}><img class="website-image website-image-{{item.item_code}}"
                src="{{ item.website_image or item.image }}" alt="{{ item.name }}"></td>
    <p class="image-zoom-view image-zoom-view-{{item.item_code}}" style="display: none;">
        <button type="button" class="close" aria-label="Close">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                <line x1="18" y1="6" x2="6" y2="18"></line>
                <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
        </button>
    </p>
    <td width="20%">
        <span class="item-name-{{item.item_code}}">{{ item.item_name }}</span>
        <!--<br>
        <span class="item-description-{{item.item_code}}">{{ item.description }}</span>-->
        <span class="item-uom-{{item.item_code}}">{{ item.stock_uom }}</span>
        {% if item.is_stock_item%}
        <br>
        {% set stock_qty = item.stock_qty[0][0] %}
        <span>Stock: {{stock_qty | int  or 0}} Case</span>      
        {% endif %}
    </td>
    <td width="10%" class="rate-{{item.item_code}}" align="right">$ {{ "{0:.2f}".format(frappe.db.get_value('Item',item.item_code,'unit_selling_price')) or ("{0:.2f}".format(item.price/frappe.db.get_value('Item',item.item_code,'case_qty'))) }}</td>
    <td width="10%">
        <p class="d-none currency-{{item.item_code}}">{{ item.price.currency_symbol}}</p><span
            class="case-qty-{{item.item_code}}">{{ frappe.db.get_value('Item',item.item_code,'case_qty') }}</span>
    </td>
    <td width="15%">
        <div class="input-group number-spinner">
            <span class="input-group-prepend d-none d-sm-inline-block">
                <button class="btn btn-outline-secondary cart-btn btn-{{item.item_code}}" data-dir="dwn">–</button>
            </span>
            <input class="form-control text-right cart-qty cart-qty-{{ item.item_code}} border-secondary"
                                value=" 0" data-item-code="{{ item.item_code }}">
            <span class="input-group-append d-none d-sm-inline-block">
                <button class="btn btn-outline-secondary cart-btn btn-{{item.item_code}}" data-dir="up">+</button>
            </span>
        </div>
    </td>

    <td width="20%" class="total-{{item.item_code}}" align="right">$ 0.00

    </td>

</tr>

{% block script %}
<script>
    //frappe.provide("erpnext.shopping_cart");
    //var shopping_cart = erpnext.shopping_cart;
    $(".cart-items-custom").on("change", ".cart-qty-{{item.item_code}}", function() {
			var item_code = $(this).attr("data-item-code");
			var newVal = $(this).val();
			shopping_cart.shopping_cart_update({item_code, qty: newVal, cart_dropdown: true});
           
		});
    var item_list = []
    $(".cart-items-custom").on('click', '.number-spinner .btn-{{item.item_code}}', function () {
        if(frappe.session.user=="Guest"){
            window.location.href = "/login"
            frappe.throw("Please do login in system to add item into cart")
        }
        var btn = $(this),
        input = btn.closest('.number-spinner').find('input'),
        oldValue = input.val().trim(),
        newVal = 0;

        if (btn.attr('data-dir') == 'up') {
            newVal = parseInt(oldValue) + 1;
        } else {
            if (oldValue > 1) {
                newVal = parseInt(oldValue) - 1;
            }
        }
        input.val(newVal);

        var item_code = input.attr("data-item-code");
        cost_calculation(newVal, item_code)
        
        
        item_list.push({
            'item_code':item_code,
            'qty': newVal
        })
        
        // document.cookie = item_list
        // console.log(document.cookie)
        
        // To add or remove qty from cart by clicking on + an - sign
        var rate = parseFloat($('.rate-' + item_code).html().replace("$", '') * $('.case-qty-' + item_code).html())
        var amount =  parseFloat($('.total-' + item_code).html().replace("$", ''))
        var item_name = $('.item-name-' + item_code).html()
        var uom = $('.item-uom-' + item_code).html()
       
        frappe.call({
            'method': "techievolve.api._update_cart",
            'args': {
                'item_code': item_code,
                'item_name': item_name,
                'uom': uom,
                'qty': newVal,
                'rate': rate,
                'amount': amount,
                
            },
            callback: function(r){
                shopping_cart.set_cart_count();
            }
        })
      // shopping_cart.shopping_cart_update({item_code, qty: newVal, cart_dropdown: true});
        
      
        return false;
    });
    $(".cart-items-custom").on("change", ".cart-qty-{{ item.item_code }}", function () {
        // cost_calculation($(this).val())
        var qty = $(this).val();
        var item_code = $(this).attr("data-item-code");

        cost_calculation(qty, item_code)

    });

    function cost_calculation(qty, item_code) {
        // var qty = btn.val();
        var case_qty = parseFloat($('.case-qty-' + item_code).html());
        // var rate = parseFloat($('.rate-' + item_code).html().replace(/[^\d\.]/, ''));
		var rate = parseFloat($('.rate-' + item_code).html().replace("$", ''));
        var total = (qty * case_qty * rate).toFixed(2);
        var currency = $('.currency-' + item_code).html()
        var formatted_total = currency + " " +total;
        $('.total-' + item_code).html(formatted_total)

    }

    
    var $zoom_wrapper = $('.image-zoom-view-{{ item.item_code }}');
    $('.website-image-{{ item.item_code }}').on('click', (e) => {
        hide_preview();
        e.preventDefault();
        var $img = $(e.target);
        var src = $img.prop('src');
        if (!src) return;
        show_preview(src);
    });

    $zoom_wrapper.on('click', 'button', hide_preview);

    $(document).on('keydown', (e) => {
        if (e.key === 'Escape') {
            hide_preview();
        }
    });

    function show_preview(src) {
        $zoom_wrapper.show();
        const $img = $(`<img src="${src}">`)
        $zoom_wrapper.append($img);
    }

    function hide_preview() {
        $zoom_wrapper.find('img').remove();
        $zoom_wrapper.hide();
    }
</script>
{% endblock %}
<style>
	.website-image {
		cursor: pointer;
	}

	.image-zoom-view {
		position: fixed!important;
		top: 0!important;
		left: 0!important;
		right: 0!important;
		bottom: 0!important;
		height: 100vh;
		width: 100vw;
		display: flex;
		justify-content: center;
		align-items: center;
		background: rgba(0, 0, 0, 0.8);
		z-index: 1080;
	}

	.image-zoom-view img {
		max-height: 100%;
		max-width: 100%;
	}

	.image-zoom-view button {
		position: absolute;
		right: 3rem;
		top: 2rem;
	}

	.image-zoom-view svg {
		color: var(--white);
	}
</style>
</style>