
<tr>
    <td width="20%" data-item-code={{item.item_code}}><a href="/{{item.route}}"><img
                src="{{ item.website_image or item.image }}" alt="{{ item.name }}"></a></td>
    <td width="35%">
        <span class="item-name-{{item.item_code}}">{{ item.item_name }}</span>
        <br>
        <span class="item-description-{{item.item_code}}">{{ item.description }}</span>
        <span class="item-uom-{{item.item_code}}">{{ item.stock_uom }}</span>
        {% if item.is_stock_item%}
        <br>
        <span>Available in Stock: {{item.stock_qty[0] or 0}}</span>
        {% endif %}
    </td>
    <td width="10%" class="rate-{{item.item_code}}" align="right">$ {{ "{0:.2f}".format(frappe.db.get_value('Item',item.item_code,'unit_selling_price')) or ("{0:.2f}".format(item.price/frappe.db.get_value('Item',item.item_code,'case_qty'))) }}</td>
    <td width="10%">
        <p class="d-none currency-{{item.item_code}}">{{ item.price.currency_symbol}}</p><span
            class="case-qty-{{item.item_code}}">{{ frappe.db.get_value('Item',item.item_code,'case_qty') }}</span>
    </td>
    <td width="15%">
        <div class="input-group number-spinner">
            <span class="input-group-prepend d-none d-sm-inline-block">
                <button class="btn btn-outline-secondary cart-btn btn-{{item.item_code}}" data-dir="dwn">–</button>
            </span>
            <input class="form-control text-right cart-qty cart-qty-{{ item.item_code}} border-secondary"
                                value=" 0" data-item-code="{{ item.item_code }}">
            <span class="input-group-append d-none d-sm-inline-block">
                <button class="btn btn-outline-secondary cart-btn btn-{{item.item_code}}" data-dir="up">+</button>
            </span>
        </div>
    </td>

    <td width="20%" class="total-{{item.item_code}}" align="right">$ 0.00

    </td>

</tr>

{% block script %}
<script>
    //frappe.provide("erpnext.shopping_cart");
    //var shopping_cart = erpnext.shopping_cart;
    $(".cart-items-custom").on("change", ".cart-qty-{{item.item_code}}", function() {
			var item_code = $(this).attr("data-item-code");
			var newVal = $(this).val();
			shopping_cart.shopping_cart_update({item_code, qty: newVal, cart_dropdown: true});
           
		});
    var item_list = []
    $(".cart-items-custom").on('click', '.number-spinner .btn-{{item.item_code}}', function () {
            var btn = $(this),
            input = btn.closest('.number-spinner').find('input'),
            oldValue = input.val().trim(),
            newVal = 0;

        if (btn.attr('data-dir') == 'up') {
            newVal = parseInt(oldValue) + 1;
        } else {
            if (oldValue > 1) {
                newVal = parseInt(oldValue) - 1;
            }
        }
        input.val(newVal);

        var item_code = input.attr("data-item-code");
        cost_calculation(newVal, item_code)
        
        
        item_list.push({
            'item_code':item_code,
            'qty': newVal
        })
        
        // document.cookie = item_list
        // console.log(document.cookie)
        
        // To add or remove qty from cart by clicking on + an - sign
        var rate = parseFloat($('.rate-' + item_code).html().replace("$", '') * $('.case-qty-' + item_code).html())
        var amount =  parseFloat($('.total-' + item_code).html().replace("$", ''))
        var item_name = $('.item-name-' + item_code).html()
        var uom = $('.item-uom-' + item_code).html()
       
        frappe.call({
            'method': "techievolve.api._update_cart",
            'args': {
                'item_code': item_code,
                'item_name': item_name,
                'uom': uom,
                'qty': newVal,
                'rate': rate,
                'amount': amount,
                
            },
            callback: function(r){
                shopping_cart.set_cart_count();
            }
        })
      // shopping_cart.shopping_cart_update({item_code, qty: newVal, cart_dropdown: true});
        
      
        return false;
    });
    $(".cart-items-custom").on("change", ".cart-qty-{{ item.item_code }}", function () {
        // cost_calculation($(this).val())
        var qty = $(this).val();
        var item_code = $(this).attr("data-item-code");

        cost_calculation(qty, item_code)

    });

    function cost_calculation(qty, item_code) {
        // var qty = btn.val();
        var case_qty = parseFloat($('.case-qty-' + item_code).html());
        // var rate = parseFloat($('.rate-' + item_code).html().replace(/[^\d\.]/, ''));
		var rate = parseFloat($('.rate-' + item_code).html().replace("$", ''));
        var total = (qty * case_qty * rate).toFixed(2);
        var currency = $('.currency-' + item_code).html()
        var formatted_total = currency + " " +total;
        $('.total-' + item_code).html(formatted_total)

    }

    // frappe.ready(() => {
    //     $('.page_content').on('click', '.btn-add-to-cart-{{ item.item_code }}', (e) => {

    //         const $btn = $(e.currentTarget);

    //         $btn.prop('disabled', true);

    //         const item_code = $btn.data('item.item-code');
    //         $('cart-items-custom tr td:first-child').addClass('test')
            
    //     });
    // });
</script>
{% endblock %}